*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0 auto;
    width: 100%;
    border-color: white;
    min-width: 15vh;
    min-height: 6vh;
    font-weight: bold;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

select::-ms-expand {
    display: none;
}

form {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .formLabel {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

form label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}

input:focus {
    ~ .formLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: gray;
      font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, gray,white);
    border-image-slice: 1;
  }

input { 
    &:required,&:invalid { box-shadow:none; }
}