*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.bg1 {
  height: 2000px;
  background-color: red;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  transition: opacity 2s ease-in-out;
  position: relative;
  opacity: 1;
}

.bg2 {
  height: 100%;
  background-image: linear-gradient(hsla(10, 90%, 66%, 0.671), transparent 60%);
  background-size: 100% 100%;
  mix-blend-mode: difference;
}

.content {
  background-color: rgba(255, 255, 255, 0.603);
  color: black;
  border-radius: 0.25em;
  box-shadow: 2px 1px 5em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 10vmin;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50vh;
  transform: translate(-50%, -50%);
  transition: fade-in 1s;

  @media (max-width: 768px) {
    padding: 5rem;
  }

  @media (max-width: 480px) {
    width: 70%;
    top: 70%
  }
}

h1 {
  color: rgb(179, 7, 7);
  font-family: "Crimson Text", sans-serif;
  font-weight: bold;
  animation: fade-in 1s;

  @media (max-width: 768px) {
    font-size: 1.75rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

select {
  appearance: none;
  background-color: black;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  min-width: 15vh;
  min-height: 6vh;
  font-weight: 700;
  animation: fade-in 1s;
  font-family: "Crimson Text", sans-serif;
  font-weight: bold;
  

  @media (max-width: 768px) {
    min-height: 5vh;
  }

  @media (max-width: 480px) {
    min-height: 4vh;
  }
}

.select {
  width: 100%;
  min-width: 15vw;
  max-width: 30vw;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  animation: fade-in 1s;

  @media (max-width: 768px) {
    font-size: 1rem;
    position: relative;
  }

  @media (max-width: 480px) {
    font-size: 0.875rem;
    position: relative;
  }
}

form {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  animation: fade-in 1s;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  font-family: "Crimson Text", sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-size: 1.5em;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  animation: fade-in 1s;

  @media (max-width: 768px) {
    font-size: 1.25em;
  }

  @media (max-width: 480px) {
    font-size: 1em;
  }
  
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .formLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;

    @media (max-width: 768px) {
      font-size: 1.1rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }
}

form label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(53, 52, 52);
  animation: fade-in 1s;

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }

  @media (max-width: 480px) {
    font-size: 0.75rem;
  }
}

input:focus {
  ~ .formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
    font-weight: 700;

    @media (max-width: 768px) {
      font-size: 0.875rem;
    }

    @media (max-width: 480px) {
      font-size: 0.75rem;
    }
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}

input {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

img {
  width: 5vh;
  height: 5vh;
  animation: fade-in 1s;

  @media (max-width: 768px) {
    width: 4vh;
    height: 4vh;
  }

  @media (max-width: 480px) {
    width: 3vh;
    height: 3vh;
  }
}

option {
  font-family: "Crimson Text", sans-serif;
  font-weight: bold;
  font-weight: 700;
}

.result {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 1.25em;
  }

  @media (max-width: 480px) {
    font-size: 1em;
    max-width: 50%;
  }
}

.unit {
  color: rgb(179, 7, 7);
}

@keyframes slide {
  0% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(-25%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 50;
  }
}
